{% extends "history/index.html" %}

{% block main_stuff %}

{% include "history/nav_bar.html" with nav_location=location %}

<h1>This is an Album
  <h1>

    <h2>{{album.title}}: {{album.year_released}}</h2>

    <ul>
      {% comment %} Loop over the artist's associated songs. So cool! Note we use 'song_set', since 'Song' is a related model and 'song' is not a property of Album directly
      {% endcomment %}
      {% for song in album.song_set.all %}
      <li>
        {{song.title}}
      </li>
      {% endfor %}
    </ul>
{% endblock %}
