<nav>
  {% if nav_location != 'artists' %}
    <form action="/history/artists" method='get'>
      <input type="submit" value="View My Artists">
    </form>
  {% endif %}

  {% if nav_location != 'songs' %}
    <form action="/history/songs" method='get'>
      <input type="submit" value="View My Songs">
    </form>
  {% endif %}

  {% if nav_location != 'add_song' %}
    <form action="/history/songs/add" method='get'>
      <input type="submit" value="Add Song">
    </form>
  {% endif %}

  {% if nav_location != 'home' %}
    <form action="/history/" method='get'>
      <input type="submit" value="Home">
    </form>
  {% endif %}

  {% if nav_location != 'add_artist' %}
    <form action="/history/artists/add" method='get'>
      <input type="submit" value="Add Artist">
    </form>
  {% endif %}

  {% if nav_location != 'add_album' %}
    <form action="/history/albums/add" method='get'>
      <input type="submit" value="Add Album">
    </form>
  {% endif %}

  {% if nav_location != 'albums' %}
    <form action="/history/albums" method='get'>
      <input type="submit" value="View My Albums">
    </form>
  {% endif %}
</nav>
