{% extends "history/index.html" %}

{% block main_stuff %}
  {% include "history/nav_bar.html" with nav_location=location %}


  <h3>{% if edit %} Edit '{{song.title}}', from {% else %} Add a new song to {% endif %} your collection</h3>

  {% comment %}
    "route" and "id" are variable passed in from either 'add' or 'edit' views
  {% endcomment %}
  <form action="{% if edit %} {% url route id %} {% else %} {% url route %} {% endif %}" method='POST'>
    {% csrf_token %}
    <input type="text" name="title" placeholder="title" value="{{song.title}}">
    <select name=artist>
      <option disabled selected>select an artist</option>
      {% for artist in artists %}
        <option value="{{artist.id}}">{{artist}}</option>
      {% endfor %}
    </select>
    {% if albums %}
      <select name=albums multiple>
        <option disabled>select as many as apply</option>
        {% for album in albums %}
          <option value="{{album.id}}">{{album}}</option>
        {% endfor %}
      </select>
    {% endif %}
    <input type="hidden" name="album_id" value={{song.id}}>

    <input type="submit" value="Save Song">
  </form>

{% endblock %}
