{% extends "history/index.html" %}

{% block main_stuff %}
  {% include "history/nav_bar.html" with nav_location=location %}


  <h3>{% if title_action %} {{title_action}} {% else %} Add a new song to {% endif %} your collection</h3>

  {% comment %}
    "route" is variable passed in from either 'add' or 'edit' views
  {% endcomment %}
  <form action="{% url route song.id %}" method='POST'>
    {% csrf_token %}
    <input type="text" name="title" placeholder="title" value="{{song.title}}">
    <input type="text" name="artist_name" placeholder="artist name" value="{{song.artist}}">
    <input type="text" name="album_title" placeholder="album title">
    <input type="hidden" name="album_id" value={{song.id}}>

    <input type="submit" value="Save Song">
  </form>

{% endblock %}
